<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="sectionBlock" id="providerSection" style="display:none;" th:fragment="providerSection">
        <div class="sectionHeader">
            <h3>Provider 목록</h3>
            <div class="sectionActions">
                <button class="addButton" onclick="openProviderModal()">+ Provider 추가</button>
                <button class="deleteButtonGlobal" onclick="deleteSelectedProviders()">선택 삭제</button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="tableStyled" id="providerTable">
                <thead>
                    <tr>
                        <th class="col-checkbox">
                            <input onclick="toggleAllCheckboxes('providerTable', this)" type="checkbox">
                        </th>
                        <th class="col-id">
                            ID
                            <button class="sortBtn" onclick="sortProvider('id')">↕</button>
                        </th>
                        <th class="col-email">
                            Email
                            <button class="sortBtn" onclick="sortProvider('email')">↕</button>
                        </th>
                        <th class="col-provider-name">
                            ProviderName
                            <button class="sortBtn" onclick="sortProvider('providerName')">↕</button>
                        </th>
                        <th class="col-provider-key">
                            ProviderKey
                            <button class="sortBtn" onclick="sortProvider('providerKey')">↕</button>
                        </th>
                        <th class="col-student-id">
                            연결된 Student ID
                            <button class="sortBtn" onclick="sortProvider('studentId')">↕</button>
                        </th>
                        <th class="col-edit">수정</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="paginationContainer" id="providerPagination"></div>
    </div>
</body>

</html>