<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>추가 정보 입력</title>
    <link th:href="@{/css/additional-info.styled.css}" rel="stylesheet"/>
    <link th:href="@{/css/modal.styled.css}" rel="stylesheet"/>
</head>

<body>
<div class="infoContainer">
    <div class="infoWrapper">
        <div class="infoRightPanel">
            <div class="infoBlurBox">
                <div class="infoContent">
                    <div class="infoHeader">
                        <h1 class="infoTitle">추가 정보 입력</h1>
                        <p class="infoSubtitle">필수 정보를 입력해 주세요.</p>
                    </div>

                    <form onsubmit="return false;">
                        <p>
                            <strong>연동할 이메일:</strong>
                            <span th:text="${email}"></span>
                        </p>

                        <div class="formGroup">
                            <label for="studentNumber">학번</label>
                            <input id="studentNumber" name="studentNumber" placeholder="학번을 입력하세요" required
                                   type="text"/>
                        </div>
                        <button class="submitButton" onclick="checkStudentNumber()" type="button">학번 확인</button>
                    </form>
                </div>
                <div class="infoFooter">
                    <p class="footerText">
                        © Kyungpook National University, Department of Computer Science &amp; Engineering Student
                        Council. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="modal :: myModalFragment"></div>

<script th:src="@{/js/additional-info.script.js}"></script>
</body>

</html>
